// 3 section
.bg-section1{
    background-image:url(..//img/image3.jpg);
    width:$size01;
    background-repeat: no-repeat;
    background-position: top;
    padding-top:$size27;
.container{
    @extend %size;
.line{
    @extend %size01;
    margin-left:$size24;
    margin-bottom:$size09; 
    @media screen and (max-width:$size69){
       display:none;
    } 
    }
.section-p{
    @extend %font-size;
    @include d-flex(flex, center, center);
    @media screen and (max-width:$size13){
        font-size:$font-size19;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color30;
            font-weight: bolder;
        }
    }
}
.wraper-p{
    @extend %font-size01;
    @include d-flex(flex, center, center);
    font-weight:lighter; 
    @media screen and (max-width:$size13){
        font-size:$font-size15;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color31;
        }
    }
    }
.flex{
    padding-top:$size9;
    margin-bottom:$size6;
    display:flex;
    @media screen and (max-width:$size70){
        flex-direction: column;
    }
.image4{
    @media screen and(max-width:$size71){
        width:$size01;
    }
}
.img-relative{
    position:absolute;
    max-width:$size28;
    width:$size01;
    height: $size29;
    margin-left: $size30;
    background: rgba($color: $color03, $alpha: .1);
    @media screen and (max-width:$size71){
    position:absolute;
    max-width: $size77;
    width: $size01;
    height: $size78;
    margin-left: $size30;
    background: rgba($color: $color03, $alpha: .1);

    }
    @media screen and (max-width:$size70){
        position:revert;
        max-width:$size01;
        margin-left:0;
     
         } 
.text-h4{
    font-size:$font-size10;
    @extend %text-h4;
    text-transform: $transform01;
    margin-top:$size010;
    @include d-flex(flex, center, center); 
    @media screen and (max-width:$size71){
       font-size:$font-size19;
    
        }
    @media screen and (max-width:$size70){
        margin-left: $size11;
         display: block;
         @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color25;
            font-weight: bolder;
        }
        } 
}
.wraper-p1{
    @extend %font-size01;
    @include d-flex(flex, center, center); 
    margin-left: $size6;  
    @media screen and (max-width:$size71){
        font-size:$font-size05;
         }
    @media screen and (max-width:$size70){
         margin-left: $size11;
         display: block;
         @include hover-effect (all, 0.5s, linear, 0.2s);
         &:hover{
             color:$color26;
             font-weight: bolder;
         }
        }   
}
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-left:$size04;
    margin-bottom:$size09;
    @media screen and (max-width:$size70){
       margin-left: $size11;
    
        } 
}
.text-p{
    max-width:$size31;
    width:$size01;
    @extend %text-p;
    margin-left:$size32;
    text-indent:1em;  
    @media screen and (max-width:$size71){
        font-size:$font-size04;
     
         } 
    @media screen and (max-width:$size70){
        margin-left:$size11;
        max-width: $size04;
        width:$size01;
         }
}
}
}
.view{
    @include d-flex(flex, center, center);
    margin-top:$size10;
    margin-left: $size60;
    max-width:$size06;
    width:$size01;
    background-color:$color10;
    letter-spacing: 1px;
    @media screen and (max-width:$size70){
        margin-left:$size11;
     
         }
.view-detail{
    font-size:$font-size05;
    font-family: $family01;
    margin-right:$size35;
    padding:$size34 $size33 $size34 0;
    a{
        color:$color01;
}
@media screen and (max-width:$size71){
    font-size:$font-size18;
 
     } 
}
.arrow{
    color:$color01;
    font-size:$font-size04;
}
}
.left-right{
    @include d-flex(flex, space-between, center);
    margin-top:$size10;
    margin-bottom:$size37;
    @media screen and (max-width:$size73){
        flex-direction: column;
    }
.box-left{
    width:$size01;
    @media screen and (max-width:$size72){
        max-width:$size79;
        width:$size01;
    }
.image5{
    width: $size01;
}
.text-h4{
    font-size:$font-size11;
    @extend %text-h4;
    margin-top:$size18;
    margin-left:$size10;
    @media screen and (max-width:$size74){
        font-size:$font-size19;
    }
    @media screen and (max-width:$size75){
        margin-left:$size11;
        display: block;
        @media screen and (max-width:$size70){
            margin-left: $size11;
             display: block;
             @include hover-effect (all, 0.5s, linear, 0.2s);
            &:hover{
                color:$color25;
                font-weight: bolder;
            }
        }
    }
}
.wraper-p1{
    @extend %font-size01;
    margin-left: $size23;
    @media screen and (max-width:$size74){
        font-size:$font-size15;
    }
    @media screen and (max-width:$size73){
        margin-left:$size11;
        display: block;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color26;
            font-weight: bolder;
        }
    }
}
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-left:$size3;
    margin-bottom:$size09;
    @media screen and (max-width:$size73){
        margin-left:$size11;
    }
}
.text-p{
    max-width:$size60;
    width:$size01;
    @extend %text-p;
    text-indent:1em;
    margin-left:$size40 ;
    @media screen and (max-width:$size74){
        font-size:$font-size05;
    }
    @media screen and (max-width:$size73){
        margin-left:$size11;
        margin-bottom: $size10;
    }
    @media screen and (max-width:$size76){
        max-width:$size47;
        width:$size01;
    }
}
}
.box-right{
  width:$size01;
  margin-left:$soze41;
  @media screen and (max-width:$size72){
      max-width:$size79;
      width:$size01;
  }

  @media screen and (max-width:$size73){
    margin-top:$size10;
    margin-left:0;
}
.image6{
    width: $size01;
}
.text-h4{
    font-size:$font-size11;
    @extend %text-h4;
    margin-top:$size42;
    margin-left:$size10;
    @media screen and (max-width:$size74){
        font-size:$font-size19;
    }
     @media screen and (max-width:$size73){
        margin-left:$size10;
        display: block;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color25;
            font-weight: bolder;
        }
    }
}
.wraper-p1{
    @extend %font-size01;
    margin-left:$size23;
    @media screen and (max-width:$size74){
        font-size:$font-size15;
    }
    @media screen and (max-width:$size73){
        margin-left:$size10;
        display: block;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color26;
            font-weight: bolder;
        }
    }
}
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-left:$size3;
    margin-bottom:$size09;
    @media screen and (max-width:$size73){
        margin-left:$size10;
    }
}
.text-p{
    max-width: $size60;
    width:$size01;
    @extend %text-p;
    text-indent:1em;
    margin-left:$size40; 
    @media screen and (max-width:$size74){
        font-size:$font-size05;
    } 
    @media screen and (max-width:$size73){
        margin-left:$size10;
    }
    @media screen and (max-width:$size76){
        max-width: $size64;
        width:$size01;
    }
} 
}
}
.view-more{
    @extend %view-more;
    @include d-flex(flex, center, center);
    @media screen and (max-width:$size73){
        margin-left:$size10;
        max-width: $size80;
        width: $size01;
    }
.view-more-detail{
    @extend %view-more1;
    a{
        color:$color10;
    }
}
.arrow{
    @extend %arrow;
}
}
}
}