.container{
    @extend %size;
.line{
    @extend %size01;
    margin-left: $size24;
    margin-bottom: $size23;
    @media screen and (max-width:1080px){
        display:none;
    }
}
.section-p{
    @extend %font-size;
    @include d-flex(flex, center, center);
    @media screen and (max-width:950px){
        font-size:35px;
    }
   
    }
.wraper-p{
    @extend %font-size01;
    @include d-flex(flex, center, center);
    font-weight:lighter;
    @media screen and (max-width:950px){
        font-size:18px;
        margin-left:10px;
    }      
    }
.block{
    @include d-flex(flex, center, center);
    margin-top: $size19;
    margin-bottom:$size50;
    @media screen and (max-width:1080px){
        flex-flow: wrap;
    }
.block1{
    // max-width:$size48;
    // width:$size01;
    // margin-left: $size10;
.image8{
    @media screen and (max-width:650px){
        width:250px;
        margin-left:10px;
    }
}
    @media screen and (max-width:1080px){
        margin-top:50px;
        margin-right:30px;
    }
.text1-h4{
    font-size:$font-size13;
    font-family:$family03;
    font-weight: 300;
    color:$color03;
    text-transform: $transform01;
    margin-top: $size6;
    max-width:$size51;
    width:$size01;
    letter-spacing: 1px;
    @media screen and (max-width:1125px){
        font-size:20px;
        margin-left:10px;
    }
    }
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-bottom:$size09;
    @media screen and (max-width:1125px){
        margin-left:10px;
    }
    }
.text-p{
    max-width:$size52;
    width:$size01;
    @extend %text-p;
    text-shadow: $color03;
    margin-left:$size6;
    @media screen and (max-width:1125px){
        font-size:14px;
        margin-left:13px;
    }
    }
.view{
    @include d-flex(flex, center, center);
    margin-top:$size10;
    margin-left:$size53;
    max-width:$size06;
    width:$size01;
    background-color:$color10;
    letter-spacing: 1px; 
    @media screen and (max-width:650px){
        margin-left:10px;
    }
.view-detail{
    font-size:$font-size05;
    font-family: $family01;
    margin-right:$size35;
    padding:$size34 $size33 $size34 0; 
        a{
            color:$color01;
        }
    @media screen and (max-width:1125px){
        font-size:12px;
    }
    }
.arrow{
    color:$color01;
    font-size:$font-size04;
    }
    }
}
}
.view-more{
    @extend %view-more;
    @include d-flex(flex, center, center);
    @media screen and (max-width:1080px){
        margin-left:10px;
    }
.view-more-detail{
    @extend %view-more1;
    a{
        color:$color10;
    }
    @media screen and (max-width:700px){
        font-size:12px;
    }
}
.arrow{
    @extend %arrow;
}
}
}