.container{
    @extend %size;
.line{
    @extend %size01;
    margin-left: $size24;
    margin-bottom: $size23;
}
.section-p{
    @extend %font-size;
    @include d-flex(flex, center, center);
   
    }
.wraper-p{
    @extend %font-size01;
    @include d-flex(flex, center, center);
    font-weight:lighter;
            
           
    }
.block{
    @include d-flex(flex, center, center);
    margin-top: $size19;
    margin-bottom:$size50;
.block1{
    max-width:$size48;
    width:$size01;
    margin-left: $size10;

.text1-h4{
    font-size:$font-size13;
    font-family:$family03;
    font-weight: 300;
    color:$color03;
    text-transform: $transform01;
    margin-top: $size6;
    max-width:$size51;
    width:$size01;
    letter-spacing: 1px;
    }
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-bottom:$size09;
    }
.text-p{
    max-width:$size52;
    width:$size01;
    @extend %text-p;
    text-shadow: $color03;
    margin-left:$size6;
    }
.view{
    @include d-flex(flex, center, center);
    margin-top:$size10;
    margin-left:$size53;
    max-width:$size06;
    width:$size01;
    background-color:$color10;
    letter-spacing: 1px; 
.view-detail{
    font-size:$font-size05;
    font-family: $family01;
    margin-right:$size35;
    padding:$size34 $size33 $size34 0; 
        a{
            color:$color01;
        }
    }
.arrow{
    color:$color01;
    font-size:$font-size04;
    }
    }
}
}
.view-more{
    @extend %view-more;
    @include d-flex(flex, center, center);
.view-more-detail{
    @extend %view-more1;
    a{
        color:$color10;
    }
}
.arrow{
    @extend %arrow;
}
}
}