.footer-wraper{
    background-color:$color06;
    padding-top:$size54;
    margin-top:$size44;
.container{
     @extend %size;
.footer-box{
    @include d-flex(flex, center, center);
    @media screen and (max-width:750px){
        flex-direction: column;
    }
.left-footer{
    max-width: 500px;
    width:100%;
    @media screen and (max-width:1125px){
        margin-left:10px;
    }
    @media screen and (max-width:550px){
        max-width:280px;
        width:100%;
    }
.text-h3{
    font-size:$font-size10;
    font-family: $family03;
    color:$color01;
    text-transform:$transform02;
    font-weight: lighter;
    letter-spacing: 1px;
    @media screen and (max-width:950px){
        font-size:35px;
    }
}
.line3{
    max-width:$size23;
    width:$size01;
    height: $size4;
    background-color:$color01;
    margin-top:$size40;
    margin-bottom:$size56;
}
.footer-p{
    font-size:$font-size15;
    font-family: $family04;
    color:$color01;
    text-transform: $transform01;
    letter-spacing: 1px;
    @media screen and (max-width:950px){
        font-size:15px;
    }
}
.contact{
    max-width:$size22;
    width:$size01;
    background-color:$color01;
    margin-top:$size25;
    margin-bottom: $size61;
.contact-us {
    font-size:$font-size05;
    font-family: $family01;
    @include d-flex(flex, center, center);
    padding:$size57 0; 
    text-transform: $transform02;
    letter-spacing: 1px;
        a{
            color:$color10;
        }
    @media screen and (max-width:950px){
        font-size:14px;
        }
}
}
}
.right-footer{
    margin-left:$size58;
    margin-bottom: 110px;
    @media screen and (max-width:750px){
        margin-left:0;
       margin-right: 80px;
    }
.fb{
    @extend %icon;
    color:$color13;
    @media screen and (max-width:1125px){
        font-size:30px;
    }
}
.inst{
    @extend %icon;
    color:$color14;
    @media screen and (max-width:1125px){
        font-size:30px;
    }
}
.twitter{
    @extend %icon;
    color:$color15;
    @media screen and (max-width:1125px){
        font-size:30px;
    }
}
.youtube{
    @extend %icon;
    color:$color16;
    @media screen and (max-width:1125px){
        font-size:30px;
    }
}
.address{
    font-size:$font-size08;
    font-family: $family01;
    text-transform: $transform02;
    color:$color01;
    font-weight: lighter;
    margin-top:$size59;
    margin-bottom: $size57;
    letter-spacing: 1px;
    @media screen and (max-width:950px){
        font-size:22px;
    }
}
.line3{
    max-width:$size23;
    width:$size01;
    height: $size4;
    background-color:$color01;
    margin-top:$size40;
    margin-bottom:$size56;
}
.info{
.info-ul{
.info-li{
    margin-bottom:$size11;
    letter-spacing: 1px;
.span{
    font-size:$font-size03;
    color:$color17;
    @media screen and (max-width:950px){
        font-size:16px;
    }
}
.contact-a{
    font-size:$font-size03;
    color:$color01;
    margin-left:$size11;
    text-transform:$transform03;
    @media screen and (max-width:950px){
        font-size:16px;
    }
}
}
}
}
}
}
}
}
.footer{
    @include d-flex(flex, center, center);
    background-color:$color18;
    padding-top:$size10;
    padding-bottom:$size10;
    @media screen and (max-width:750px){
        flex-direction: column;
    }
.p-footer{
    font-size:$font-size07;
    font-family: $family01;
    color:$color01;
    font-weight: lighter;
    text-transform:$transform02;
    margin-right:$size23;
    @media screen and (max-width:950px){
        font-size:18px;
    }
}
.footer-p{
    font-size:$font-size14;
    font-family: $family01;
    color:$color01;
    text-transform:$transform03;
    @media screen and (max-width:950px){
        font-size:10px;
        margin-top:10px;
        margin-right:40px;
        margin-bottom: 10px;
    }
}
.footer-ul{
    @include d-flex(flex, space-between, center);
    margin-left:$size60;
    @media screen and (max-width:750px){
        margin-left:0;
    }
.footer-li{
    margin-right:$size10;
.footer-a{
    font-size:$font-size05;
    font-family: $family01;
    color:$color01;
    text-transform:$transform02;
    @media screen and (max-width:950px){
        font-size:12px;
    }
}
  
}
}
}
