// section1
.container{
    @extend %size;
.d-flex{
    display:flex;
    @media screen and (max-width:$size13){
        flex-direction: column;
    }
.left-block{
    max-width:$size1;
    width:$size01;
    margin-top:$size2;
    float: left;
    margin-left:$size10;
    @media screen and (max-width:$size67){
        margin-left:0;
    }
    @media screen and (max-width:$size66){
        max-width: $size64;
        width: $size01;
    }
.section-p{
   @extend %font-size;
   @media screen and (max-width:$size13){
       font-size:$font-size17;
       font-weight: bold;
   }
   @media screen and (max-width:$size63){
    font-size:$font-size06;
    font-weight: bold;
    margin-left:$size11;
}
}
.line9{
    max-width:$size3;
    width:$size01;
    height:$size4;
    background-color:$color02;
    margin-left:$size5;
    margin-bottom: $size6;
}
.section-p1{
    font-size:$font-size06;
    color:$color05;
    font-family: $family04;
    margin-top:$size7;
    margin-left:$size5;
    margin-bottom: $size8;
    letter-spacing: 1px;
    @media screen and (max-width:$size13){
        font-size:$font-size15;
    }
    @media screen and (max-width:$size63){
        font-size:$font-size05;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color20;
        }
}
}
.section-p2{
    font-size:$font-size05;
    color:$color03;
    font-family: $family01;
    margin-left:$size9;
    letter-spacing: 1px;
    @media screen and (max-width:$size13){
        font-size:$font-size04;
        flex-direction: column;
    }
    @media screen and (max-width:$size63){
        font-size:$font-size04;
}
}
}
.left-block::after{
    content: '';
	display: block;
}
.right-block{
    float:right;
    margin-top:$size2;
    margin-left:$size3;
    max-width:$size14;
    width:$size01;
    @media screen and (max-width:$size68){
        margin-left:0;
    }
.img4{
    float:left;
    @media screen and (max-width:$size13){
        float:right;
        margin-right:$size3;
    }

.image1{
    max-width:$size04;
    width:$size01;
    filter: blur(1px);
    @include hover-effect (all, 0.5s, linear, 0.2s);
    &:hover{
        filter:none;
    }
}
}
.img3{
    float:right;
    @media screen and (max-width:$size13){
        margin-top:$size6;
        margin-right:$size3;
    }

.image2{
    max-width:$size15;
    width:$size01;
    filter: blur(1px);
    @include hover-effect (all, 0.5s, linear, 0.2s);
    &:hover{
        filter:none;
    }
}
}
}
}
}
.wraper{
    background-color:$color06;
    margin-top:$size16;
    margin-bottom: $size17;
.wraper-p{
    font-size:$font-size06;
    font-family: $family04;
    color:$color01;
    text-transform:$transform01;
    @include d-flex(flex, center, center);
    padding-top:$size17;
    padding-bottom:$size18;
    letter-spacing: 1px;
    @media screen and(max-width:$size63){
        font-size:$font-size05;
        margin-left:$size11;
    }
}
.form-wraper{
    @include d-flex(flex, center, center);
    padding-bottom:$size19;
    @media screen and (max-width:$size63){
        flex-direction: column;
        margin-right:$size3;
    }
.input-wraper{
    max-width:$size20;
    width:$size01;
    height: $size07;
    font-size:$font-size05;
    font-family: $family01;
    margin-right:$size21;
    background-color:$color07;
    border:0 solid  $color08;
    color:$color01;
    text-transform:$transform01;
    letter-spacing: 1px;
    @media screen and (max-width:$size63){
        max-width: $size06;
        font-size: $font-size18;
        margin-left:$size65;
        margin-bottom: $size11;
    }
}
.input-wraper:focus{
	outline: none;
}
.button-wraper{
    max-width:$size22;
    width:$size01;
    height:$size07;
    background-color:$color06;
    font-size:$font-size05;
    font-family: $family01;
    border: 2px solid $color01;
    color:$color01;
    text-transform:$transform02;
    letter-spacing: 1px;
    @media screen and (max-width:$size63){
        max-width: $size06;
        font-size: $font-size18;
    }
}
.button-wraper:focus{
    outline:none;
}
}
}