.container{
    @extend %size;
.line{
    @extend %size01;
    margin-left: $size24;
    margin-bottom: $size23;
    @media screen and (max-width:$size69){
        display:none;
    }
}
.section-p{
    @extend %font-size;
    @include d-flex(flex, center, center);
    @media screen and (max-width:$size13){
        font-size:$font-size19;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color29;
            font-weight: bolder;
        }
    }
   
    }
.wraper-p{
    @extend %font-size01;
    @include d-flex(flex, center, center);
    font-weight:lighter;
    @media screen and (max-width:$size13){
        font-size:$font-size15;
        margin-left:$size11;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color28;
        }
    }      
    }
.block{
    @include d-flex(flex, center, center);
    margin-top: $size19;
    margin-bottom:$size50;
    @media screen and (max-width:$size69){
        flex-flow: wrap;
    }
.block1{
.image8{
    @media screen and (max-width:$size02){
        width:$size04;
        margin-left:$size11;
    }
}
    @media screen and (max-width:$size69){
        margin-top:$size23;
        margin-right:$size09;
    }
.text1-h4{
    font-size:$font-size13;
    font-family:$family03;
    font-weight: 300;
    color:$color03;
    text-transform: $transform01;
    margin-top: $size6;
    max-width:$size51;
    width:$size01;
    letter-spacing: 1px;
    @media screen and (max-width:$size71){
        font-size:$font-size03;
        margin-left:$size11;
        @include hover-effect (all, 0.5s, linear, 0.2s);
        &:hover{
            color:$color27;
            font-weight: bold;
        }
    }
    }
.line1{
    @extend %size01;
    margin-top:$size09;
    margin-bottom:$size09;
    @media screen and (max-width:$size71){
        margin-left:$size11;
    }
    }
.text-p{
    max-width:$size52;
    width:$size01;
    @extend %text-p;
    text-shadow: $color03;
    margin-left:$size6;
    @media screen and (max-width:$size71){
        font-size:$font-size04;
        margin-left:$size81;
    }
    }
.view{
    @include d-flex(flex, center, center);
    margin-top:$size10;
    margin-left:$size53;
    max-width:$size06;
    width:$size01;
    background-color:$color10;
    letter-spacing: 1px; 
    @media screen and (max-width:$size02){
        margin-left:$size11;
    }
.view-detail{
    font-size:$font-size05;
    font-family: $family01;
    margin-right:$size35;
    padding:$size34 $size33 $size34 0; 
        a{
            color:$color01;
        }
    @media screen and (max-width:$size71){
        font-size:$font-size18;
    }
    }
.arrow{
    color:$color01;
    font-size:$font-size04;
    }
    }
}
}
.view-more{
    @extend %view-more;
    @include d-flex(flex, center, center);
    @media screen and (max-width:$size69){
        margin-left:$size11;
    }
.view-more-detail{
    @extend %view-more1;
    a{
        color:$color10;
    }
    @media screen and (max-width:$size46){
        font-size:$font-size18;
    }
}
.arrow{
    @extend %arrow;
}
}
}